.product-alliances {
	ul {
		text-align: center;
	}
}

.home-alliances {
	ul {
		li {
			text-align: center;
		}
	}
}

.alliance-only-list-section,
.alliance-list-section,
.partner-list-section {
	@media #{$medium-and-up} {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		> div {
			width: 25%;
			// margin: 0 4%
			// flex: 1;
			img {
				max-width: 150px;
				height: auto;
			}
		}
	}
}

.alliance-list-section,
.partner-list-section {
	@media #{$medium-and-up} {
		
	}
}

.alliance-list__single__content,
.partner-list__single__content {
	text-align: center;
	@media #{$medium-and-up} {
		margin-bottom: 50px;
		p {
			margin-top: 0;
		}
		img {
			max-width: 200px;
			height: auto;
		}
	}
	.modal-content {
		text-align: left;
		p {
			margin: 0;
		}
		p:first-child {
			margin-bottom: 15px;
		}
	}
	.modal-trigger-general {
		color: $l-green;
		font-weight: bold;
		font-size: 25px;
	}
}

.alliance-only-list-section {
	.alliance-list__single__content {
			width: 25%;
			margin: 0;
		}
	@media #{$small-and-down} {
		.alliance-list__single__content {
			width: 45%;
			display: inline-block;
			margin: 1.5%;
			background-blend-mode: multiply;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}


