.product-alliances {
	ul {
		text-align: center;
	}
}

.home-alliances {
	ul {
		li {
			text-align: center;
		}
	}
}

.alliance-only-list-section,
.alliance-list-section,
.partner-list-section {
	@media #{$medium-and-up} {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		> div {
			width: 25%;
		}
	}
}

.alliance-list-section,
.partner-list-section {
	@media #{$small-and-down} {
		text-align: center;
		>div {
			display: inline-block;
			margin: 0 2.2% 25px;
			width: 45%;
			img {
				max-width: 100%;
			}
		}
	}
	@media #{$medium-and-up} {
		> div {
			img {
				max-width: 150px;
				height: auto;
			}
		}
	}
}

.alliance-list__single__content,
.partner-list__single__content {
	text-align: center;
	@media #{$medium-and-up} {
		margin-bottom: 50px;
		p {
			margin-top: 0;
		}
		img {
			max-width: 200px;
			height: auto;
		}
	}
	.modal-content {
		text-align: left;
		p {
			margin: 0;
		}
		h3 {
			font-weight: 600;
		}
		p:first-child {
			margin-bottom: 15px;
			font-size: 5vw;
			line-height: 7vw;
			font-weight: 300;
			@media #{$large-and-up} {
				font-size: 22px;
				line-height: 30px;
			}
		}
		.pa_website {
			margin-bottom: 15px;
			font-size: 5vw;
			line-height: 7vw;
			font-weight: 300;
			@media #{$large-and-up} {
				font-size: 22px;
				line-height: 30px;
			}
			a {
				color: $blue;
			}
		}
	}
	.modal-trigger-general {
		color: $blue;
		opacity: 0.5;
		font-weight: bold;
		font-size: 25px;
	}
}

.alliance-only-list-section {
	.alliance-list__single__content {
			width: 25%;
			margin: 0;
		}
	@media #{$small-and-down} {
		.alliance-list__single__content {
			width: 45%;
			display: inline-block;
			margin: 1.5%;
			background-blend-mode: multiply;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}


