.client-list-section {
	padding-top: 40px;
	text-align: center;
	>div {
		text-align: center;
		display: inline-block;
		width: 45%;
		margin: 0 2.2% 25px;
	}
	img {
		max-width: 95%;
		// margin: 0 auto;
	}
	@media #{$medium-and-up} {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> div {
			margin: 0;
			margin-bottom: 50px;
			width: 24%;
			img {
				max-width: 150px;
				height: auto;
			}
		}
	}
	.modal-content {
		text-align: left;
		p {
			margin: 0;
		}
		p:first-child {
			margin-bottom: 15px;
			font-weight: 600;
		}
	}
	.modal-trigger-general {
		color: $blue;
		opacity: 0.5;
		font-weight: bold;
		font-size: 25px;
	}
}