.btn {
	text-transform: none;
	font-weight: 300;
	font-size: 3vw;
	// line-height: 10vw;
	padding-top: 0px;
	@media #{$large-and-up} {
		font-size: 1vw;
		line-height: 3vw;
	}
}

.btn.pc-blue {
	background: $blue;
}

.btn.no-shadow {
	box-shadow: none;
}