.top-footer {
	.map-image {
		width: 100%;
		height: auto;
	}
	p:first-child {
		margin-top: 0;
	}
}

.bottom-footer {
	position: fixed;
	bottom: 0;
	height: 44px;
	width: 100%;
	// 
	background: $ll-blue;
	// 
	border-top: 1px solid $blue;
	padding: 10px;
	// 
	text-align: right;
	@media #{$large-and-up} {
		position: relative;
		bottom: auto;
	}
	p {
		display: inline-block;
		margin: 0 10px;
	}
	a {
		font-weight: bold;
	}
}