.hero-header {
	text-align: center;
	min-height: 30vh;
	padding: 20% 0;
	@media #{$large-and-up} {
		min-height: 50vh;
		padding: 5%;
	}
	h1 {
		font-size: 8vw;
		font-weight: bold;
		@media #{$large-and-up} {
			font-size: 5vw;
		}
	}
	h2 {
		font-weight: 300;
		font-size: 5vw;
		line-height: 7vw;
		@media #{$large-and-up} {
			font-size: 2vw;
			line-height: 3vw;
		}
	}
}

.about-header {
	min-height: 30vh;
	padding: 10% 0;
	background-size: cover;
	background-position: center center;
	@media #{$large-and-up} {
		padding: 5% 0;
		min-height: 50vh;
	}
	h1 {
		font-weight: 400;
		font-size: 8vw;
		line-height: 9vw;
		// font-weight: bold;
		@media #{$large-and-up} {
			font-size: 5vw;
			line-height: 6vw;
		}
	}
}

.product-header {
	text-align: center;
	padding: 10% 0 20%;
	@media #{$large-and-up} {
		padding: 2% 5%;
	}
	h1 {
		font-size: 4vw;
		line-height: 6vw;
		@media #{$large-and-up} {
			font-size: 2vw;
			line-height: 3vw;
		}
	}
	h3 {
		font-weight: 300;
	}
	.btn {
		margin: 20px 0 30px;
	}
}

.blog-header {
	h1 {
		// font-weight: 400;
		font-size: 8vw;
		line-height: 9vw;
		font-weight: bold;
		@media #{$large-and-up} {
			font-size: 5vw;
			line-height: 6vw;
		}
	}
}