.hero-header,
.about-header,
.contact-header,
.product-header,
.blog-header {
	text-align: center;
	min-height: 30vh;
	padding: 25% 0 10%;
	background-size: cover;
	background-position: center center;
	position: relative;
	@media #{$large-and-up} {
		min-height: 500px;
		padding: 15% 0% 5%;
	}
	h1 {
		font-size: 10vw;
		line-height: 10vw;
		margin-top: 0;
		font-weight: 400;
		@media #{$small-and-down} {
			margin-bottom: 10px;
		}
		@media #{$large-and-up} {
			padding: 0 10%;
			font-weight: 300;
			font-size: 55px;
			line-height: 65px;
			letter-spacing: 0.61px;  
		}
	}
	h2 {
		font-size: 5vw;
		line-height: 7vw;
		font-weight: 300;
		@media #{$small-and-down} {
			margin-top: 0px;
		}
		@media #{$large-and-up} {
			// padding: 0 10% 0 0;
			padding: 0 10%;
			font-size: 25px;
			line-height: 35px;
		}
	}
	h3 {
		font-weight: 300;
	}
	.wide-container,
	.container {
		position: relative;
		z-index: 5;
	}
}

.product-header {
	@media #{$large-and-up} {
		padding: 12% 0% 10%;
	}
}

.blog-header {
	h1 {
		// font-weight: 400;
		font-size: 8vw;
		line-height: 9vw;
		font-weight: bold;
		@media #{$large-and-up} {
			font-size: 5vw;
			line-height: 6vw;
		}
	}
}

.hero-header,
.about-header,
.product-header,
.contact-header {
	position: relative;
	.container,
	.wide-container {
		position: relative;
		z-index: 5;
		color: $white;
	}
	.grad-overlay {
	    z-index: 3;
	    &:after {
	        content: '';
	        position: absolute;
	        left: 0;
	        right: 0;
	        top: 0;
	        height: 100%;
	        z-index: 1;
	        opacity: 0.8;
	    }
	}
	.darken-overlay {
		z-index: 2;
		&:after {
		    content: '';
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    height: 100%;
		    background-color: rgba(0,0,0,0.5);
		    z-index: 1;
		}
	}	
}

.dark-overlay {
	// position: relative;
	// @media #{$large-and-up} {
	    z-index: 2;
	    &:after {
	        content: '';
	        position: absolute;
	        left: 0;
	        right: 0;
	        top: 0;
	        height: 100%;
	        background-color: rgba(0,0,0,0.4);
	        z-index: 1;
	    }
	// }
}