.skip-to {
    position: absolute;
    top: -1000px;
    left: -1000px;
    // 
    height: 1px;
    width: 1px;
    // 
    background: darken($blue, 10);
    overflow: hidden;
    padding: 10px 15px;
    transition: all 0.2s;
    z-index: 1000;
    // 
    color: $white;
    text-align: center;
    text-decoration: underline;
}
    
a.skip-to:active, 
a.skip-to:focus, 
a.skip-to:hover {
    left: 0; 
    top: 0;
    // 
    width: auto;
    height: auto; 
    // 
    overflow: visible; 
}

.desktop-nav-wrapper {
  max-width: 1300px;
  // padding: 0 20px;
}

.navbar-fixed {
  z-index: 100;
  position: fixed;
  height: initial;
}

nav {
  height: initial;
  position: relative;
  .nav-line {
    position: absolute;
    width: 92%;
    height: 1px;
    background: $white;
    bottom: 0;
    right: 30px;
    transition: all 0.5s;
  }
}

nav.dark-nav {
  // background: $d-blue;
  padding-bottom: 20px;
  .nav-line {
    background: $black;
  }
  ul a {
    color: $black;
  }
}

.scrolling{
  nav.dark-nav {
    padding-bottom: 0px;
    ul a {
      color: $white;
    }
  }
}

.mini-nav {
  display: none;
  @media #{$large-and-up} {
    display: block;
    transition: all 0.5s;
    width: 100%;
    text-align: right;
    line-height: 0;
    padding: 30px 5px 15px 0;
    span {
      vertical-align: middle;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      display:inline-block;
      background-color: rgba(255,255,255,0.5);
    }
    a {
      padding: 0;
      margin: 0 30px;
      font-size: 15px;
      line-height: 15px;
      color: rgba(255,255,255,0.5);
      &:hover {
        color: $white;
      }
    }
    .modal-trigger-demo {
      background: $yellow;
      color: $d-blue;
      padding: 10px 20px;
      border-radius: 26px;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        color: $d-blue;
        background: lighten($yellow, 10);
      }
    } 
  }
}

nav {
  background: transparent;
  box-shadow: none;
  transition: all 0.2s ease;
  line-height: 40px;
  @media #{$large-and-up} {
    line-height: 40px;
  }
  .nav-wrapper {
  }
}

.navbar-fixed.scrolling {
  .mini-nav {
    display: none;
  }
  @media #{$large-and-up} {
    line-height: 40px;
    .brand-logo {
      top: 20px;
    }
  }
  nav {
    background: #005670;
    .nav-line {
      display: none;
    }
    .nav-wrapper {
    }
  }
  menu >div >ul {
    margin-top: 13px;
  }
}



.no-scroll {
    overflow: hidden;
}

menu {
  ul {
    transition: all 0.5s;
  }
  @media #{$large-and-up} {
      margin: 0;
      padding: 0;
      padding-right: 20px;
      display: inline-block;
      float: right;
      > div {
        display: inline-block;
        > ul {
          margin-top: 5px;
          display: inline-block;
          > li:first-child,
          > li:last-child,
          > li:nth-last-child(2) {
            display: none;
          }
          >li>a {
            font-weight: 400;
          }
        }
      }
  }
  @media #{$medium-and-down} {
    display: none;
  }
}

@media #{$medium-and-down} {
  menu ul {
    width: 100%;
    height: 100%;
    li {
      display: block;
      float: none;
      text-align: center;
      border-bottom: 1px solid lighten($blue, 20);
      a {
        color: $blue;
        font-weight: 700;
        &:hover {
          background: $white;
        }
      }
    }
    li.current-menu-item {
      background: lighten($blue, 40);
      a {
        background: lighten($blue, 40);
      }
    }
    >li >ul>li>ul {
      display: none;
    }
  }
}


nav {
  background: transparent;
  box-shadow: none;
  transition: all 0.5s ease;
  .nav-wrapper {
    transition: all 0.5s ease;
  }
}

nav.scrolling {
  background: $blue;
  .nav-wrapper {
    background: $blue;
  }
}

a.brand-logo {
  position: absolute;
  // Won't show up on emulator, but shows up fine on hypelabs
  top: 15px;
  left: 120px;
  @media #{$large-and-up} {
      position: relative;
      top: 10px;
      left: 20px;
  }
  #harris-logo-holder,
  #pc-logo-holder {
    display: inline-block;
  }
  #pc-logo {
    width: 110px;
    height: auto;
    position: relative;
    top: -5px;
    @media #{$large-and-up} {
        width: auto;
        height: 30px;
        position: relative;
        top: -9px;
    }
  }
  #harris-logo {
    width: 90px;
    height: auto;
    @media #{$large-and-up} {
        width: auto;
        height: 40px;
        margin-top: -7px;
    }
  }
}

@media #{$medium-and-down} {
  .navbar-fixed.nav-menu-open {
    background-color: $blue;
    display: block;
    transition: 0.5s all linear;
    height: 100vh;
    width: 100%;
    .nav-wrapper.container {
        background-color: $blue;
        margin: 0;
        width: 100%;
    }
    ul a {
      padding: 15px;
    }
    menu {
      padding: 0;
      margin: 0;
      display:block;
      background-color: $menu-lblue;
      position : fixed;
      overflow-y: scroll;
      top: 56px; 
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
        > li {
          display: block;
          width: 100%;
          a {
            font-size: 25px;
            padding: 10px 30px;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            color: $white;
          }
        }
    }
  }
}

.nav-trigger {
  display: block;
  z-index: 200;
  @media #{$large-and-up} {
    display: none;
  }
}

nav {
   @media #{$small-and-down} {
     z-index: 1005;
   }
}

#nav-icon {
  // padding: 15px;
  min-width: 100%;
  background: $blue;
  min-height: 56px;
  position: fixed;
  z-index: 1000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  @media #{$medium-and-down} {
    top: 2px;
    bottom: auto;
    right: 0;
  }
  @media #{$small-and-down} {
    top: 0px;
    bottom: auto;
    right: 0;
  }
}

#nav-icon small {
  color: $white;
  position: absolute;
  top: 35%;
  left: 73%;
  font-weight: bold;
  font-size: 80%;
  @media #{$medium-and-up} {
    left:0%;
    top: 25%;
  }
}

#nav-icon span {
  display: block;
  position: absolute;
  margin: 0 auto;
  height: 5px;
  width: 40px;
  background: $white;
  border-radius: 9px;
  opacity: 1;
  right: 5%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 23%;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 47%;
}

#nav-icon span:nth-child(4) {
  top: 72%;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

// =======

.menu-item-has-children {
  @media #{$large-and-up} {
    i.fa {
      display: none;
    }
    &:hover {
      background: $blue;
      > a {
        color: $white;
      }
      > ul {
        display: block;
        // display: flex;
        // flex-wrap: wrap;
        position: absolute;
        background: $l-blue;
        // width: 10%;
        // left: -15%;
        border: 1px solid $ll-blue;
        border-top: none;
        // padding: 20px;
        @media (min-width: 1300px) {
          width: 120%;
          left: -10%;
        }
        > li {
          // width: 33.33%;
          // min-height: 43vh;
          // padding: 30px;
          float: none;
          transition: 0.4s all;
          position: relative;
          >ul {
            // background: red;
            position: absolute;
            right: calc(-100% + 42px );
            top:0;
          }
          @media (min-width: 1300px) {
            min-height: 42vh;
            padding: 25px;
          }
          a {
            color: $blue;
          }
          &:hover {
            a {
              color: $white;
            }
            >ul >li a {
              color: $blue;
            }
          }
        }
        >li:nth-child(1),
        >li:nth-child(2),
        >li:nth-child(3) {
          border-bottom: 1px solid $ll-blue;
        }
        >li:nth-child(2),
        >li:nth-child(5) {
          border-left: 1px solid $ll-blue;
          border-right: 1px solid $ll-blue;
        }
      }
    }
    > ul {
      display: none;
    }
  }
  @media #{$medium-and-down} {
    position: relative;
    > a {
      // padding-bottom: 3px !important;
    }
    > ul {
      // display: none;
      margin-top: 10px;
      >li {
        background: $ll-blue;
        width: 49.2%;
        float: none;
        display: inline-block;
        border: none;
        margin-top: 3px;
        a {
          font-size: 12px;
        }
      }
      li:nth-child(odd) {
        // border-right: 1px solid $blue;
      }
    }
    i.fa {
      position: absolute;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      margin-left: 1em;
      color: rgba(255,255,255,0.3);
      font-size: 20px;
      top: 10px;
      left: 18%;
    }
  }
  @media #{$small-and-down} {
    position: relative;
    > ul {
      // display: none; 
    }
    i.fa {
      position: absolute;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      margin-left: 1em;
      color: rgba(255,255,255,0.3);
      font-size: 20px;
      top: 28px;
      left: 34%;
    }
  }
}

.menu-description {
  color: $blue;
}

@media #{$large-and-up} {
  .menu-description {
    display: none;
  }
  nav ul a {
    font-weight: 300;
  }
}

