body {
	position: relative;
	overflow-x: hidden;
}

.base-padding {
	padding: 30px 20px;
	@media #{$large-and-up} {
		padding: 50px 0;
	}
}

.wide-container {
	margin: 0 auto;
	max-width: 1150px;
	@media #{$small-and-down} {
		padding: 0 20px;
	}
}

.non-matcss-container{
	@media #{$large-and-up} {
		width: 70%;
		margin: 0 auto;
	}
}

.inner-container {
	@media #{$large-and-up} {
		padding: 0 10%;
	}
}

.flex-container {
	@media #{$large-and-up} {
		display: flex;
	}
}

.flex-space-between {
	@media #{$large-and-up} {
		justify-content: space-between;
	}
}

.base-padding.no-tb-padding {
	padding: 0 20px;
	@media #{$large-and-up} {
		padding: 0;
	}
}

.base-padding.no-lr-padding {
	@media #{$small-and-down} {
		padding: 30px 0px;
	}
}

.base-padding.no-top-padding {
	padding: 0 10px 30px;
	@media #{$large-and-up} {
		padding: 0 0 50px;
	}
}


.display-block {
	display: block;
}

.display-inblock {
	display: inline-block;
}

.why-section {
	background: $d-blue;
	color: $white;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
	.container {
		@media #{$small-and-down} {
			margin: 0;
			width: 100%;
		}
	}
	.col {
		text-align: center;
	}
	ul.row {
		margin: 0;
		padding: 0;
		li {
			padding: 25px 0;
		}
		@media #{$small-and-down} {
			li {
				padding: 20px 0;
				border-top: 1px solid $m-blue;
			}
			li:nth-child(odd) {
				border-right: 1px solid $m-blue;
			}
			li:last-child,li:nth-last-child(2) {
				border-bottom: 1px solid $m-blue;
			}
		}
	}
}

// Coming Soon
.coming-soon {
	.cs-wrapper {
		padding-top: 40%;
		vertical-align: middle;
		@media #{$medium-and-up} {
			padding-top: 15%;
		}
	}
	text-align: center;
	min-height: 100vh;
	background: $blue;
	h1 {
		margin: 0;
		color: $white;
		font-weight: 300;
		font-size: 30px;
	}
	#cs-logo-holder {
		padding-top: 20px;
		svg, img {
			max-width: 275px;
			height: auto;
		}
		svg {
			// margin-right: 30px;
		}
		img {
			position: relative;
			top: 10px;
		}
		@media #{$medium-and-up} {
			svg, img {
				max-width: 400px;
				height: auto;
			}
			svg {
				margin-right: 30px;
			}
			img {
				position: relative;
				top: -30px;
			}
		}
		
	}
}