body {
	color: $m-blue;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 3vw;
	line-height: 4vw;
	@media #{$large-and-up} {
		font-size: 1.5vw;
		line-height: 2.5vw;
	}
}

p {
	font-size: 4vw;
	line-height: 5.5vw;
	@media #{$large-and-up} {
		font-size: 1.5vw;
		line-height: 2.5vw;
	}
}

a {
	color: $m-blue;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

h1 {

}

h2 {

}

h3 {
	font-size: 5vw;
	line-height: 7vw;
	@media #{$large-and-up} {
		font-size: 2.5vw;
		line-height: 3.5vw;
	}
}

h4 {
	font-size: 4vw;
	line-height: 6vw;
	@media #{$large-and-up} {
		font-size: 2vw;
		line-height: 3vw;
	}
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}