// Colours
$ll-blue:		rgba(247,252,254,1);
$menu-lblue: 	rgba(228,241,253,1);
$blue: 			rgba(63,162,247, 1);
$white:	 		rgba(255,255,255,1);
$black: 		rgba(0,0,0,1);

.blue-bg {
	background-color: $blue !important;
}

