// Colours
$ll-blue:		rgba(247,252,254,1);
$l-blue: 		rgba(228,241,253,1);
$blue: 			rgba(63,162,247, 1);
$m-blue: 		rgba(41,127,202, 1);
$white:	 		rgba(255,255,255,1);
$black: 		rgba(0,0,0,1);

$menu-lblue: $l-blue;

.blue-bg {
	background-color: $blue !important;
}

.lblue-bg {
	background-color: $l-blue !important;
}

.llblue-bg {
	background-color: $ll-blue !important;
}

