.about-overview,
.about-story,
.about-team,
.about-clients,
.about-alliances-partners {
	p {
		font-weight: 300;
		font-size: 25px;
		line-height: 34px;
	}
}

.about-overview,
.about-clients,
.about-alliances-partners {
	p:first-of-type {
		font-size: 36px;
		line-height: 45px;
	}
	
}

.about-story {

}

.about-timeline, .about-team {
	.container .row {
		@media #{$small-and-down} {
			margin: 0;
			width: 100%;
		}
	}
}
.about-TL__single--left{
	width: 20%;
	vertical-align: top;
}
.about-TL__single--right {
	width: 78%;
}

.about-team.base-padding {
	padding-bottom: 0;
}

.about-clients.base-padding {
	padding-top: 0;
}

.team-members-container,
.contact-team-container {
	@media #{$medium-and-up} {
		padding-top: 100px;
	    display:flex;
	    justify-content: center;
	    flex-wrap: wrap;
		.team-member-single {
			margin-bottom: 0px;
			width: 40%;
			margin: 0 5% 120px; 
		}
	}
}

.team-member-single {
	text-align: center;
	background: $white;
	box-shadow: 0px 0px 25px 0px rgba(50,50,50,0.1);
	padding: 0 40px 100px;
	position: relative;
	margin-bottom: 30px;
	a.modal-trigger-general {
		position: absolute;
		bottom: 20px;
		right: 20px;
		@media #{$large-and-up} {
			bottom: 15px;
			right: 20px;
		}
	}
	.team__plus {
		color: $blue;
		opacity: 0.5;
		font-weight: bold;
		font-size: 20px;
		line-height: 20px;
		@media #{$large-and-up} {
			font-size: 20px;
			line-height: 25px;
		}
	}
}

.team__single__icon {
	margin-right: 10px;
	vertical-align: top;
	margin-top: -50px;
	img {
		width: 100px;
		height: auto;
		border-radius: 50%;
		box-shadow: 0px 0px 25px 0px rgba(50,50,50,0.1);
	}
}

.team__single__content {
	margin-top: 30px;
	p {
		margin: 0;
	}
	.team__role {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 3.5vw;
		line-height: 5vw;
		font-family: 'Titillium Web', sans-serif;
		@media #{$large-and-up} {
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 10px;
		}
	}
	.team__title {
		font-weight: 300;
		@media #{$large-and-up} {
			font-size: 35px;
			line-height: 45px;

		}
	}
	a {
		font-size: 3.5vw;
		line-height: 5vw;
		@media #{$large-and-up} {
			font-size: 1.1vw;
			line-height: 1.1vw;
		}
	}
	a.btn {
		// padding-top: 0;
		font-size: 3.5vw;
		line-height: 8vw;
		@media #{$large-and-up} {
			font-size: 1.1vw;
			line-height: 2.5vw;
			padding: 5px 20px;
			min-height: 40px;
			margin-top: 10px;
			height: 30px;
		}
	}
}

.team-modal.modal {
	padding: 20px;
	background: $l-blue;
	width: 90%;
	@media #{$large-and-up} {
		width: 70%;
		padding: 50px;
	}
	.modal-footer {
		background: transparent;
		position: fixed;
		top: 0px;
		right: 0px;
		@media #{$large-and-up} {
			top: 20px;
			right: 20px;
		}
	}
	.modal-content {
		text-align: left;
		img {
			width: 169px;
			height: auto;
			border-radius: 50%;
		}
		p {
			margin-bottom: 15px;
		}
	}
}

.about-pa-wrapper {
	margin-top: 50px;
}
