.blog-header {
	text-align: center;
	@media #{$large-and-up} {
		min-height: 300px;
		padding: 15% 0% 0%;
	}
	h1 {
		font-size: 10vw;
		line-height: 10vw;
		margin-top: 0;
		font-weight: 400;
		@media #{$small-and-down} {
			margin-bottom: 10px;
		}
		@media #{$large-and-up} {
			padding: 0 10%;
			font-weight: 300;
			font-size: 6vw;
			line-height: 6.5vw;
			letter-spacing: 0.78px;  
		}
	}
}

.resources-container {
	padding: 20px 0;
	flex-wrap: wrap;
	justify-content: space-between;
	@media #{$large-and-up} {
		padding: 40px 0;
		>div {
			width: 30%;
		}
	}
	>div {
		margin-bottom: 40px;
		@media #{$large-and-up} {
			margin-bottom: 50px;
		}
		>p:first-child {
			font-weight: bold;
		}
		.resource_separator {
			width: 150px;
			height: 4px;
			background: $d-blue;
			margin: 20px 0;
		}
		.resource_blurb p {
			font-size: 4vw;
			line-height: 5.5vw;
			@media #{$large-and-up} {
				font-size: 1.3vw;
				line-height: 2.2vw;
			}
		}
		a.btn {
			background: $white;
			color: $blue;
			border: 1px solid $blue;
			border-radius: 26px;
			@media #{$small-and-down} {
				padding: 5px 30px;
			}
			&:hover {
				background: $blue;
				color: $white;
			}
		}
	}
	h4 {
		color: rgba(79,140,152,1);
		font-weight: 300;
		font-size: 5vw;
		line-height: 7vw;
		@media #{$large-and-up} {
			font-size: 2.5vw;
			line-height: 3vw;
			margin-bottom: 0;
		}
	}
}

.single-post-card {
	@media #{$large-and-up} {
		background: $blue;
		color: $white;
		height: 300px;
		margin-right: 2%; 
	}
	h2 {
		font-size: 5vw;
		line-height: 5vw;
		margin-bottom: 0;
		@media #{$large-and-up} {
			color: $white;
			font-size: 2vw;
			line-height: 2.5vw;
		}
	}
	p {
		margin-top: 0;

	}
}