.blog-header {
	text-align: left;
	@media #{$large-and-up} {
		min-height: 300px;
		padding: 15% 0% 0%;
	}
	.blog-header-container {
		max-width: 970px;
		margin: 0 auto;
		border-radius: 5px;
	}
	h1 {
		font-size: 10vw;
		line-height: 10vw;
		margin-top: 0;
		font-weight: 400;
		@media #{$small-and-down} {
			margin-bottom: 10px;
		}
		@media #{$large-and-up} {
			padding: 0; 
			font-weight: 300;
			font-size: 6vw;
			line-height: 6.5vw;
			letter-spacing: 0.78px;  
		}
	}
}

.resources-container {
	padding: 20px 0;
	@media #{$large-and-up} {
		flex-wrap: wrap;
		justify-content: center;
		padding: 40px 0;
		>div {
			width: 25%;
			margin: 0px 25px 50px;
		}
	}
	>div {
		margin-bottom: 40px;
		@media #{$large-and-up} {
			margin: 0px 25px 50px;
		}
		>p:first-child {
			font-weight: bold;
			font-size: 14px;
			font-family: $title-font;
		}
		.resource_separator {
			width: 150px;
			height: 2px;
			background: $d-blue;
			margin: 20px 0;
		}
		.resource_blurb p {
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 25px;
			font-weight: 300;
		}
		a.btn {
			background: $white;
			color: $blue;
			border: 2px solid $blue;
			border-radius: 26px;
			@media #{$small-and-down} {
				padding: 5px 30px;
			}
			&:hover {
				background: $blue;
				color: $white;
			}
		}
	}
	h4 {
		color: rgba(79,140,152,1);
		font-family: $title-font;
		font-weight: 300;
		font-size: 5vw;
		line-height: 7vw;
		@media #{$large-and-up} {
			font-size: 25px;
			line-height: 35px;
			margin-bottom: 0;
		}
	}
}

.single-post-card {
	@media #{$large-and-up} {
		background: $blue;
		color: $white;
		height: 300px;
		margin-right: 2%; 
	}
	h2 {
		font-size: 5vw;
		line-height: 5vw;
		margin-bottom: 0;
		@media #{$large-and-up} {
			color: $white;
			font-size: 2vw;
			line-height: 2.5vw;
		}
	}
	p {
		margin-top: 0;

	}
}

.control-container {
	max-width: 970px;
	margin: 0 auto;
	background: $ll-grey;
	padding: 5px 25px 15px;
	border-radius: 5px;
}

.controls {
    button {
        background-color: transparent;
        &:focus {
            background-color: transparent;
        }
    }
}
.control {
    vertical-align: top;
    display: inline-block;
    background: white;
    border: 0;
    font-size: 16px;
    color: $blue;
    font-weight: bold;
    cursor: pointer;
    margin: 0 20px 10px 0;
    text-align: center;
}

.resources-container .fail-message{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2%;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.mixitup-control-active {
    border-bottom: 3px solid rgba(155,155,155,0.4);
}