.contact-header {
	@media #{$large-and-up} {
		padding: 10% 0% 10%;
	}
	z-index: 50;
}

.contact-form-container {
	z-index: 55;
	background: $white;
	width: 60%;
	// height: 350px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 20px 40px;
	position: relative;
	margin-top: -250px;
	margin-bottom: 50px;
}

#contact-map {
	width: 100%;
	min-height: 80vh;
	@media #{$small-and-down} {
		min-height: 50vh;
	}
}

.contact-content {
	padding: 20px 50px;
}

.top-footer {
	.row {
		margin: 0;
	}
	.row .col {
		padding: 0;
	}
}

.contact-page .container .row .col {
	@media #{$medium-and-down} {
		margin-top: 80px;
	}
	@media #{$small-and-down} {
		margin-top: 20px;
	}
	h1.headline {
		color: $blue;
		text-transform: none;
		@media #{$small-and-down} {
			margin-top: 20%;
		}
		@include xlarge {
		 	margin-top: 8%;
		}
	}
	h2 {
		color: $blue;
	}
}

// @media #{$small-and-down} {
// 	.contact-team-list-section{
// 		padding-top: 100px;
// 	}
// }

.contact-section {
	h3 {
		font-weight: bold;	
		font-size: 4vw;
		line-height: 4.5vw;

		@media #{$large-and-up} {
			font-weight: normal;	
			font-size: 2vw;
			line-height: 2.5vw;
		}
	}
	.container .row {
		margin: 0;
	}
}

.contact-team-single {
	display: block;
	width: 100%;
	margin-bottom: 30px;
	h4 {
		font-size: 14px;
		line-height: 20px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 5px;
	}
	p {
		margin: 0;
		margin-bottom: 5px;
		font-size: 14px;
		a {
			color: $blue;
			// text-decoration: underline;
			border-bottom: 1px solid $blue;
		}
	}
}

.contact-team__single {
	margin-bottom: 20px;
}

.contact-team-list-section {
	.team__single__icon {
		@media #{$large-and-up} {
			display: inline-block;
		}
	}
	.team__single__content {
		vertical-align: top;
		@media #{$large-and-up} {
			display: inline-block;
			font-size: 1vw;
			line-height: 1.5vw;
			p {
				font-size: 1vw;
				line-height: 1.5vw;
			}
		}
	}
}

.gform_wrapper {
	label.gfield_label {
		font-size: 4.5vw !important;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
		color: $black;
		@media #{$large-and-up} {
			font-size: 1.5vw !important;
		}
	}
	input[type="text"]:focus {
		border-bottom: 2px solid $blue;
		box-shadow: none;
	}
	input#input_1_2,
	input#input_1_3  {
		width: 100%;
	}
	select.gfield_select {
		display: block;
		border: 1px solid $blue;
		border-radius: none;
		width: 100% !important;
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
		background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
		background-position: 98% 50%;
		background-repeat: no-repeat;
		padding: 0 22px !important;
		// text-transform: lowercase;
		height: 50px;
		font-size: 15px !important;
	}
	#field_1_8 {
		margin-top: 0 !important;
		margin-bottom: 30px !important;
	}
	#field_1_5 {
		margin: 20px 0 30px;
	}
	input[type="submit"].gform_button {
		color: $white;
		background-color: $blue;
		font-weight: 700;
		height: 54px;
		line-height: 54px;
		padding: 0px 2rem;
		border: none;
		border-radius: 2px;
		float: right;
		text-transform: uppercase;
		margin-right: 0 !important;
	}
}

.gform_wrapper ul.gfield_radio {
	margin-bottom: 25px !important;
	li input[type="radio"]:checked+label {
		color: $blue;
	}
	li[class^="gchoice"] {
		display: inline-block;
		width: 30%;
		// padding: 10px 0 !important;
		text-align: center;
		border: 1px solid $blue;
		margin-right: 2%;
		margin-bottom: 1%;
		@media #{$large-and-up} {
		  width: 17.8%;
		  margin-bottom: 0;
		}
		label {
			color: $blue;
			margin: 0;
			// width: 100% !important;
			height: 100%;
			padding: 10px 0 !important;
			&:before,
			&:after {
				visibility: hidden;
			}
		}
		input {
			visibility: hidden; width: 0px; height: 0px;
		}
	}
	li[class^="gchoice"].is-checked {
		border: 1px solid $blue;
	}
}
