.home-why {
	
}

.home-products {
	.product-container {
		margin: 0 auto;
		@media #{$medium-and-up} {
			padding-top: 50px;
			.single-home-product {
				vertical-align: top;
				width: 100%;
				padding: 50px;
				margin: 0 0 20px 0;
				display: inline-block;
			}
			.single-home-product:first-child {
				margin-right: 0%
			}
			.single-home-product:last-child {
				margin-left:0%;
			}
		}
		@media #{$large-and-up} {
			padding-top: 50px;
			.single-home-product {
				vertical-align: top;
				width: 47.7%;
				padding: 90px;
				margin: 0;
				display: inline-block;
			}
			.single-home-product:first-child {
				margin-right: 2%
			}
			.single-home-product:last-child {
				margin-left:2%;
			}
		}
	}
	.single-home-product {
		padding: 20px 20px 90px 20px;
		color: $white;
		font-weight: 300;
		background: #458C98;
		margin-bottom: 30px;
		h4 a {
			color: $white;
			font-size: 36px;
			line-height: 45px;
			font-weight: 300;
		}
		>div {
			margin-bottom: 30px;
		}
		p {
			font-size: 16px;
			line-height: 20px;
			@media #{$medium-and-up} {
				font-size: 20px;
				line-height: 30px;
			}
		}
		>a {
			float: right;
		}
	}
}

.home-products p {
	margin-bottom: 10px;
}

.home-team {
	a {
		border-bottom: 1px solid $blue;
	}
	p {
		font-weight: 300;
		font-size: 25px;
		line-height: 30px;
	}
	.large-intro-type {
		font-size: 36px;
		line-height: 45px;
		font-weight: 300;
	}
}

.tell-me-more {
	display: block;
	margin: 0 0 20px;
}