.home-why {
	.container {
		@media #{$small-and-down} {
			margin: 0;
			width: 100%;
		}
	}
	.col {
		text-align: center;
	}
	ul.row {
		margin: 0;
		padding: 0;
		li {
			padding: 20px 0;
		}
		@media #{$small-and-down} {
			li {
				padding: 20px 0;
				border-top: 1px solid $m-blue;
			}
			li:nth-child(odd) {
				border-right: 1px solid $m-blue;
			}
			li:last-child,li:nth-last-child(2) {
				border-bottom: 1px solid $m-blue;
			}
		}
	}
}

.home-alliances {
	ul {
		li {
			text-align: center;
		}
	}
}

.home-products {
}