.page-header {
	padding: 150px 0 20px;
	.wide-container {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 30px;
		@media #{$large-and-up} {
			// padding: 0 7%;
		}
	}
}

.page-content {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 30px;
	@media #{$large-and-up} {
		// padding: 0 10%;
	}
	table {
		max-width: 100%;
		overflow-x: scroll;
	}
	a {
		color: $blue;
		border-bottom: 1px solid $blue;
		&:hover {
			color: lighten($blue, 10);
			border-bottom: 1px solid lighten($blue, 10);
		}
	}
}