.product-overview {
	p {
		font-size: 25px;
		line-height: 34px;
		font-weight: 300;
	}
	p:first-of-type {
		font-size: 36px;
		line-height: 45px;
	}
}

.product-features {
	.single-product-container {
		@media #{$large-and-up} {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	.feature-icon {
		display: block;
		margin: 0 auto;
		width: 100px;
		height: auto;
	}
	.single-product-feature {
		@media #{$large-and-up} {
			width: 45%;
			flex: 0 0 1;
		}
		h3 {
			font-size: 36px;
			line-height: 45px;
			font-weight: 300;
			// text-align: center;
		}
	}
    ul {
		margin-left: 20px;
		// list-style-type: disc;
        @media #{$large-and-up} {
        	margin-left: 20px;
        }
        li {
        	font-weight: 300;
            padding-left: 24px;
            // list-style-type: disc;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 15px;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: rgba(0,0,0,1);
                z-index: 1;
            }
            @media #{$large-and-up} {
            	margin-bottom: 10px;
            }
        }
    }
}


.neg-left-image {
	// margin-left: -40%;
	width: 80%;
	height: auto;
	@media #{$medium-and-up} {
		margin-left: 0;
		width: 100%;
		height: auto;
		padding: 10%;
	}
}

.product-who {
	background: $green;
	color: $white;
	h3 {
		color: $white;
		text-align: center;
		font-weight: 300;
		@media #{$medium-and-up} {
			font-size: 36px;
			line-height: 45px;
		}
	}
	.carousel.carousel-slider {
		height: 400px;
	}
}

.support-resources-container {
	padding: 40px 0;
	h4 {
		color: $white;
		font-weight: 300;
		font-size: 5vw;
		line-height: 7vw;
		@media #{$large-and-up} {
			font-size: 2.5vw;
			line-height: 3vw;
			margin-bottom: 0;
		}
	}
	>div {
		position: relative;
		margin-bottom: 20px;
		@media #{$large-and-up} {
			width: 31%;
			margin-bottom: 0px;
		}
		.resource__image {
			width: 100%;
			height: 100px;
			background-size: cover;
		}
		.resource__content {
			position: relative;
			padding: 10px 30px 30px;
			>div {
				height: 100px;
				@media #{$large-and-up} {
					height: 170px;
				}
			}
			p {
				margin: 0;
				color: $white;
				font-weight: bold;
			}
			a {
				vertical-align: bottom;
			}
		}
	}
	>div:first-child {
		background-color: #009267;
	}
	>div:nth-child(2) {
		background-color: #005670;
	}
	>div:last-child {
		background-color: #CF8C00;
	}
}

.product-request {
	text-align: center;
}

.product-recognitions {
	@media #{$small-and-down} {
		text-align: center;
	}
	.col {
		text-align: center;
		@media #{$small-and-down} {
			margin: 10px 0 30px;
		} 
	}
}



