.product-overview {
	p {
		font-size: 16px;
		line-height: 23px;
		font-weight: 300;
		@media #{$medium-and-up} {
			font-size: 25px;
			line-height: 34px;
		}
	}
	p:first-of-type {
		font-size: 25px;
		line-height: 35px;
		@media #{$small-and-down} {
			margin-top: 0;
		}
		@media #{$medium-and-up} {
			font-size: 36px;
			line-height: 45px;
		}
	}
}

.neg-left-image {
	// margin-left: -40%;
	width: 80%;
	height: auto;
	@media #{$medium-and-up} {
		margin-left: 0;
		width: 100%;
		height: auto;
		padding: 10%;
	}
}

.product-who {
	background: $blue;
	color: $white;
	h3 {
		color: $white;
		text-align: center;
		font-weight: 300;
		@media #{$medium-and-up} {
			font-size: 36px;
			line-height: 45px;
		}
	}
	.carousel.carousel-slider {
		height: 400px;
	}
}

.support-resources-container {
	padding: 20px 0;
	@media #{$large-and-up} {
		flex-wrap: wrap;
		justify-content: center;
		padding: 40px 0;
		>div {
			width: 30%;
			margin: 0px 25px 30px;
		}
	}
	>div {
		margin-bottom: 40px;
		@media #{$large-and-up} {
			margin-bottom: 0;
		}
		>p:first-child {
			// font-weight: bold;
			font-size: 14px;
			font-family: $title-font;
		}
		.resource_separator {
			width: 150px;
			height: 2px;
			background: $d-blue;
			margin: 20px 0;
		}
		.resource_blurb p {
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 25px;
			font-weight: 300;
		}
		a.btn {
			background: $white;
			color: $blue;
			border: 2px solid $blue;
			border-radius: 26px;
			@media #{$small-and-down} {
				padding: 5px 30px;
			}
			&:hover {
				background: $blue;
				color: $white;
			}
		}
	}
	h4 {
		color: rgba(79,140,152,1);
		font-family: $title-font;
		font-weight: 300;
		font-size: 5vw;
		line-height: 7vw;
		@media #{$large-and-up} {
			font-size: 25px;
			line-height: 35px;
			margin-bottom: 0;
		}
	}
}

.product-request {
	text-align: center;
}

.product-recognitions {
	@media #{$small-and-down} {
		text-align: center;
	}
	.row {
		text-align: center;
	}
	.col {
		text-align: center;
		@media #{$small-and-down} {
			margin: 10px 0 30px;
		} 
	}
	.recognition-container {
		text-align: center;
		> div {
			@media #{$medium-and-up} {
				width: 30%;
				display: inline-block;
			} 
			img {
				width: auto;
				height: 120px;
			}
		}
	}
}



