.product-overview {
	p {
		font-size: 16px;
		line-height: 23px;
		font-weight: 300;
		@media #{$medium-and-up} {
			font-size: 25px;
			line-height: 34px;
		}
	}
	p:first-of-type {
		font-size: 25px;
		line-height: 35px;
		@media #{$small-and-down} {
			margin-top: 0;
		}
		@media #{$medium-and-up} {
			font-size: 36px;
			line-height: 45px;
		}
	}
}

.product-features {
	.single-product-container {
		@media #{$large-and-up} {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	.feature-icon {
		display: block;
		margin: 0 auto;
		width: 100px;
		height: auto;
	}
	.single-product-feature {
		margin-bottom: 30px;
		@media #{$large-and-up} {
			margin-bottom: 50px;
			width: 45%;
			flex: 0 0 1;
		}
		h3 {
			font-size: 36px;
			line-height: 45px;
			font-weight: 300;
			// text-align: center;
		}
	}
    ul {
		margin-left: 20px;
		// list-style-type: disc;
        @media #{$large-and-up} {
        	margin-left: 20px;
        }
        li {
        	font-weight: 300;
            padding-left: 24px;
            // list-style-type: disc;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 15px;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: rgba(0,0,0,1);
                z-index: 1;
            }
            @media #{$large-and-up} {
            	margin-bottom: 10px;
            }
        }
    }
}


.neg-left-image {
	// margin-left: -40%;
	width: 80%;
	height: auto;
	@media #{$medium-and-up} {
		margin-left: 0;
		width: 100%;
		height: auto;
		padding: 10%;
	}
}

.product-who {
	background: $green;
	color: $white;
	h3 {
		color: $white;
		text-align: center;
		font-weight: 300;
		@media #{$medium-and-up} {
			font-size: 36px;
			line-height: 45px;
		}
	}
	.carousel.carousel-slider {
		height: 400px;
	}
}

.support-resources-container {
	padding: 20px 0;
	@media #{$large-and-up} {
		padding: 40px 0;
		>div {
			width: 30%;
			margin-right: 30px;
		}
	}
	>div {
		margin-bottom: 40px;
		@media #{$large-and-up} {
			margin-bottom: 0;
		}
		>p:first-child {
			font-weight: bold;
		}
		.resource_separator {
			width: 150px;
			height: 4px;
			background: $d-blue;
			margin: 20px 0;
		}
		.resource_blurb {
			margin-bottom: 15px;
			// font-size: 6vw;
			// line-height: 8vw;
			// @media #{$large-and-up} {
			// 	font-size: 1.5vw;
			// 	line-height: 2.5vw;
			// }
		}
		a.btn {
			background: $white;
			color: $blue;
			border: 1px solid $blue;
			border-radius: 26px;
			@media #{$small-and-down} {
				padding: 5px 30px;
			}
			&:hover {
				background: $blue;
				color: $white;
			}
		}
	}
	h4 {
		color: rgba(79,140,152,1);
		font-weight: 300;
		font-size: 5vw;
		line-height: 7vw;
		@media #{$large-and-up} {
			font-size: 2.5vw;
			line-height: 3vw;
			margin-bottom: 0;
		}
	}
}

.product-request {
	text-align: center;
}

.product-recognitions {
	@media #{$small-and-down} {
		text-align: center;
	}
	.row {
		text-align: center;
	}
	.col {
		text-align: center;
		@media #{$small-and-down} {
			margin: 10px 0 30px;
		} 
	}
	.recognition-container {
		text-align: center;
		> div {
			@media #{$medium-and-up} {
				width: 30%;
				display: inline-block;
			} 
			img {
				width: auto;
				height: 120px;
			}
		}
	}
}



